.vscode/**
.vscode-test/**
.github/**
browser-extension/**
dist/**
docs/**
scripts/**
web-ext-artifacts/**
out/test/**
test/**
src/**
**/*.map
.DS_Store
.gitignore
package-lock.json
tsconfig.json
tslint.json
**/*.gif
ACKNOWLEDGEMENTS.md
